<%= form_for @park, :html=>{class: "form_class"} do |f| %>
    
    <p>
        <%= f.label :name %><br>
        <%= f.text_field :name %>
    </p>
    <p>
        <%= f.label :country %><br>
        <%= f.text_field :country %><br>
    </p>
    <p>
        <%= f.label :area %><br>
        <%= f.text_field :area %><br>
    </p>
    <p>
        <%= f.label :attraction %><br>
        <%= f.text_field :attraction %><br>
    </p>
    <p>
        <%= f.label :picture_link %><br>
        <%= f.text_field :picture %><br>
    </p>
    <p>
        <%= f.label :website %><br>
        <%= f.text_field :website %><br>
    </p>

    <p>
        <%= f.submit %>
    </p>

<% end %>